<div class="home-container">
    <div class="home-banner">
        <div class="inner-wrapper">
            <div class="banner-text-box">
                <h1>TechHelp</h1>
                <p>Your tech-related platform that helps the engineers around the world by providing them the best collection of coding answers and questions</p>
            </div>
        </div>
    </div>
    <div class="home-info">
        <h1 class="home-info-title">Find the solution of your tech question</h1>
        <div class="home-info-boxes container">
            <div class="row">
                <div class="home-box col-md-4">
                    <div class="home-inner-box">
                        <i class="pi pi-share-alt"></i>
                        <h2>Help others</h2>
                        <p>Make the tech community grow faster by sharing your knowledge to other engineers</p>
                    </div>
                </div>
                <div class="home-box col-md-4">
                    <div class="home-inner-box middle-box">
                        <i class="pi pi-check-circle"></i>
                        <h2>Increase productivity</h2>
                        <p>Save time by finding quick answers to your problems</p>
                    </div>
                </div>
                <div class="home-box col-md-4">
                    <div class="home-inner-box">
                        <i class="pi pi-bolt"></i>
                        <h2>Gain experience</h2>
                        <p>Grow together with the community by helping others and debating tech-related problems </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright &copy; 2023 by Andrei</p>
    </div>
</div>