@import '../../../../assets/styles/variables.scss';

:host ::ng-deep .spinner .p-progress-spinner-circle{
    stroke: $lightBlue !important;
    animation: p-progress-spinner-dash 1.2s ease-in-out infinite !important;
}

p-progressSpinner {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 9999;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $darkBlue;
}
